extends layout

block content
	div.container.row
		div.col-xs-12
			div(style='width:100px; height:100px; background-color:red; left:50%')
				label(style={"color":"black"})
					h2=dtModel.root.attribute
	div.container.row
		div.col-xs-6
			div(style='width:100px; height:100px; background-color:red;')
				label(style={"color":"black"})
					h2=dtModel.root.match.attribute
		div.col-xs-6
			div(style='width:100px; height:100px; background-color:red;')
				label(style={"color":"black"})
					h2=dtModel.root.notMatch.attribute


