doctype html
html
	head
		title= title
		link(rel='stylesheet', href='resources/Treant.css')
		link(rel='stylesheet', href='resources/decisionTree.css')
	body
		block content
			div.chart#tree-simple
			h3(style='text-align: center') PS. left branch is true, and right branch is false.
			script(src='resources/raphael.js')
			script(src='resources/Treant.js')
			script(src='resources/decisionTree.js')
			script="new Treant( simple_chart_config );"

